<div class="bg-main flex justify-center p-4">
<%= link_to '<', groups_path, class: "justify-self-start text-white text-2xl font-black" %>
<h2 class="text-white text-2xl my-0 mx-auto">TRANSACTIONS</h2>
</div>
<div class="flex justify-between m-4">
<p class="text-xl">Total Price: </p>
<p><b>$<%= @total_price.round(2) %></b></p>
</div>

<% @budgets.each do |budget| %>
  <div class="flex items-center p-4 bg-zinc-100 mb-4">
    <h3 class="mr-4 text-lg"><%= budget.name %>:</h3>
    <p>$<%= budget.amount %></p>
  </div>
<% end %>

<div class="w-1/2 text-center my-8 mx-auto">
  <%= link_to 'Add a new transaction', new_budget_path, class: "bg-secondary text-white text-2xl p-4" %>
</div>