<div class="bg-main flex justify-center p-4">
<%= link_to 'Back', root_path, class: "justify-self-start text-white" %>
<h2 class="text-white text-2xl my-0 mx-auto">LOGIN</h2>
<input type="submit" value="Log in" form="new_user" class="text-white">
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'flex flex-col items-center mt-2' }) do |f| %>
  <div class="field w-3/5 mb-2">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'w-full' %>
  </div>

  <div class="field w-3/5 mb-2">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'w-full' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-text my-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'text-text' %>

<% end %>

